PUBLIC_SANITY_STUDIO_PROJECT_ID="mqkdg673"
PUBLIC_SANITY_STUDIO_DATASET="production"
SANITY_API_TOKEN="skKjdF6TjBD4LuDUDHoT22gRj8SLNXhmTMA0D93k3RYeJytBkK30glrPLkmZAnRSBPnUfFKSnzXnPUV71eNAa0hDTjiezFTDNP8yFqM2S4ShNzj1VRRBBOKamOalLoWdD0h3AfRS1QiFk7AQXTnTvIjG7wTc3aBpFGfhE3Ek5WR3HPRSstZi"
SANITY_WRITE_TOKEN="skn82LX1CWBL34GvkPoITO0m8GGZIamqk8fx179MOexJnOvjcGUihd91qGfg6rWKzWhEntcOyop68r7HTePJy5Ez3jgvuqirDJeEa15vj9XtCQGQWKdF5LkNjtyP4bApT8rtNtcx1KAqhhdQf4MWtdLTmjg1O3vPmhq5MyFwx5kp67WARGUV"
VITE_SITE_URL="https://every-media-dev.vercel.app"
SANITY_API_READ_TOKEN="skR6bToDV5uoeZnmxWP8jXP7nZJm0GiivWn8OHgjatP9k4DDYiDdSX4oWUwOdGBJWkj8m5psFq2yKCnfzuo0RMtIn5ojsvPiMIycZ59y0Bj9UmrF4jrJrwW7u9GwaP69Av09HIgoP68D5NXqiVuRJqkGzunHuzFR0XD2GtgioyMSHcESr1kA"
PUBLIC_SANITY_VISUAL_EDITING_ENABLED="true"
PUBLIC_SANITY_STUDIO_URL="http://localhost:3333"